@page "/trucksbycategory/{CategoryId}"
<h1 class="page-title">Trucks by decade </h1>
@if (Message != null)
{
    <p><em>@Message</em></p>
}
else
{
    @if (Trucks == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <tbody>
                @foreach (var truck in this.Trucks)
                {
                <tr>
                    <td>@truck.Name</td>
                    <td>@truck.Description</td>
                    <td><img src="@truck.DefaultPhotoPath " /></td>
                    <td>
                        <a href="@($"truckdetail/{truck.TruckId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>

                    </td>
                    <td>
                        <a href="@($"truckedit/{truck.TruckId}")" class="btn btn-primary table-btn">
                            @*<i class="fas fa-file-edit"></i>*@
                            <i class="fas fa-edit"></i>
                        </a>

                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
}

